#/lib/systemd/system/fio.service
[Unit]
Description=fio service

[Service]
ExecStart=/bin/bash /usr/bin/start-all.sh

[Install]
WantedBy=multi-user.target
